{% extends '@GuillaumeAutoDbBundle/Resources/views/BaseAutoDb.html.twig' %}

{% block title %}<title>Nombre d'entité(s)</title>{% endblock %}

{% block body %}

    <section>
	<h1>Choix du nombre d'entités</h1>
	
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}

       <article>
        {{ form_start(form) }}
            {{ form_label(form.nombreEntite, "Nombre d'entité :") }}
            {{ form_widget(form.nombreEntite, {'attr': {'class': 'form-control'}}) }}

            {{ form_widget(form.save, { 'label': 'Mémoriser'}) }}
        {{ form_end(form) }}
        </article>
    </section>
{% endblock %}
